/* SMALL SIZE  */
@media(max-width:565px){
    
    footer .container div > div:not(.icon){
        align-items: center;
    }
    /* form */
    .contact .form > div{
        flex-direction: column;
    }
    .contact .form > div input{
        width: 100%;
    }
    .contact .form > div input:not(:last-child){
        margin-bottom: 10px;
    }
    /*// form // */
    header .main-section {
        padding-block:160px ;
    }
    header .main-section div.flex img{
        display: none;
    }
    header .main-section .flex .image{
        width:100%
    }
    header .main-section .title h2{
        font-size:30px
    }
    header .main-section .title h2::after{
        bottom: -67px;
    }
        /* SEARCH  */
    .search-engine .search{
        flex-direction: column;
    }
    .search-engine .search div img{
        width: 300px;
    }
    /*// SEARCH  //*/
    /* PRICING PLANS  */
    .pricing .plans {
        flex-direction: column;
    }
    /*// PRICING PLANS // */
        /* TEST SECTION  */
    .test-section .container{
        overflow: visible;
    }
    .test-section .container > div{
        flex-direction: column;
        overflow: visible;
        width: 100%;
        height: auto;
        align-items: center;
        transition: none;
    }
    .test-section ul{
        display: none;
    }
    /* // TEST SECTION // */
    footer div:not(.container , .icon){
        flex-direction: column;
    }
    /* nav bar */
    .container{
        width: 90%;
    }
    header nav .container > div:nth-child(2){
        display: none;
        background-color: rgba(83, 98, 152, 0.795);
        position: absolute;
        flex-direction: column;
        top: 85px;
        left: 150px;
        width: 70%;
    }
    header nav .container > div:nth-child(2) ul{
        flex-direction: column;
    }
    header nav .container > div:nth-child(2) ul li a{
        display: block;
        margin-block: 15px;
        font-weight: bold;
        font-size: 13px;
    }
    header nav .container > div:nth-child(2)  button{
        display: block;
        margin-inline: auto;
        margin-bottom: 20px;
    }
    header nav div:nth-child(3){
        display: inline-block;
        width: 40px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px 5px;
    }
    header nav div:nth-child(3) hr:not(:last-child){
        margin-bottom: 5px;
    }
    /* SERVISES */
    .services .container > div{
        flex-direction: column;
    }
    .services .container > div .service{
        width: 80%;
    }
    /* //SERVISES// */
    /*// nav bar //*/
}
/*// SMALL SIZE // */

@keyframes change {
    0%{
        left: 0;
    }
    20%{
        
        left:325px;
    }
    23%{
        
        left:  0;
    }
    24%{
        
        left: 0;
    }
    44%{
        
        left: 320px;
    }
    47%{
        
        left: 0;
    }
    48%{
       
        left: 0;
    }
    69%{
       
        left: 270px;
    }
    70%{
        
        left: 0;
    }
    71%{
       
        left: 0;
    }
    91%{
       
        left: 250px;
    }
    93%{
       
        left: 0;
    }
    100%{
        
        left: 0;
    }
}
@keyframes text-change {
    0%{
        content: "happy to see you";
        width: 0;
    }
    20%{
        content: "happy to see you";
        width:325px;
    }
    23%{
        content: "happy to see you";
        width: 0;
    }
    24%{
        content: "best seo agency"; 
        width: 0;
    }
    44%{
        content: "best seo agency"; 
        width: 320px;
    }
    47%{
        content: "best seo agency"; 
        width: 0;
    }
    48%{
        content: "always on top";
        width: 0;
    }
    69%{
        content: "always on top";
        width: 275px;
    }
    70%{
        content: "always on top";
        width: 0;
    }
    71%{
        content: "a great team";
        width: 0;
    }
    91%{
        content: "a great team";
        width: 255px;
    }
    93%{
        content: "a great team";
        width: 0;
    }
    100%{
        content: "";
        width: 0;
    }
}